<div class="page-content imgDiv">
    <div class="row">
      <div class="col-md-12">
                <div class="container-xxl pt-30px loginpage">
                  <!-- Basic Layout -->
                  <div class="row pb-5 mt-0 pt-5 homemenurow">
                    <div class="col-xl-4">
                      <a href="#!/pendingRequests">
                        <div class="homeiconcontainer">
                            <p>
                                <img src="../images/checkbox.png">
                            </p>
                            <p class="menuname">Requests & <br>Registrations </p>
                        </div>
                      </a>
                    </div>
                    <div class="col-xl-4">
                      <a href="">
                        <div class="homeiconcontainer disable">
                            <p>
                                <img class="disableImg" src="../images/audit.png">
                            </p>
                            <p class="menuname">Audit</p>
                        </div>
                      </a>
                    </div>
                    <div class="col-xl-4">
                        <div class="homeiconcontainer disable">
                            <p>
                                <img class="disableImg" src="../images/analysis.png">
                            </p>
                            <p class="menuname">Dashboard</p>
                        </div>
                    </div>
                  </div>
                  <div class="row pb-5 mt-0 pt-3 homemenurow">
                    
                    <div class="col-xl-4">
                        <a href="">
                        <div class="homeiconcontainer disable">
                           
                            <p>
                                <img class="disableImg" src="../images/profile.png">
                            </p>
                            <p class="menuname">Admin Profile</p>
                       
                        </div>
                    </a>
                    </div>
                   
                  </div>
                  
                 
                 
                </div>
            
                <!-- / Content -->
            
               
            
                <!-- Core JS -->
                <!-- build:js assets/vendor/js/core.js -->
        
                <!-- endbuild -->
            
                <!-- Vendors JS -->
            
                <!-- Main JS -->
    
            
                <!-- Page JS -->
            
                <!-- Place this tag in your head or just before your close body tag. -->
      
      </div>
    </div>
    
  </div>
  