<div class="container-xxl pt-80px imgDiv loginpage">
    <!-- Basic Layout -->
    <div class="row pb-5 mt-0 pt-5 homemenurow">
      <div class="col-xl-4">
        <a href="#!/configuration">
          <div class="homeiconcontainer">
              <p>
                  <img src="../images/configuration.png">
              </p>
              <p class="menuname">Configuration</p>
          </div>
        </a>
      </div>
      <div class="col-xl-4">
        <a href="#!/batchDataTransfer">
          <div class="homeiconcontainer">
              <p>
                  <img class="" src="../images/data-transfer.png">
              </p>
              <p class="menuname">Batch Data Transfer</p>
          </div>
        </a>
      </div>
      <div class="col-xl-4">
          <div class="homeiconcontainer disable">
              <p>
                  <img class="disableImg"  src="../images/analysis.png">
              </p>
              <p class="menuname">Operational Dashboard</p>
          </div>
      </div>
    </div>
    <div class="row pb-5 mt-0 pt-3 homemenurow">
      <div class="col-xl-4">
        <a href="#!/audit">
          <div class="homeiconcontainer">
              <p>
                  <img class=""  src="../images/audit.png">
              </p>
              <p class="menuname">Audit</p>
          </div>
        </a>
      </div>
      <div class="col-xl-4">
          <a href="#!/orgProfile">
          <div class="homeiconcontainer">
              <p>
                  <img class=""  src="../images/profile.png">
              </p>
              <p class="menuname">Profile</p>
          </div>
      </a>
      </div>
     
    </div>
  </div>